<xf:js addon="SV/AlertImprovements" src="sv/alerts/alerts.js" min="1" />
<style>
.alert-controls
{
  float:right;
  text-align:right;
}
</style>
<li class="block-header">
<ul class="alert-controls listInline listInline--comma">
	<li><a href="{{ link('account/preferences') }}#alerts">{{ phrase('alert_preferences') }}</a></li>
	<xf:if is="$xf.options.sv_alerts_summerize">
		<li><a href="{{ link('account/summarize-alerts') }}">{{ phrase('sv_resummarize_alerts') }}</a></li>
	</xf:if>
	<li><a href="{{ link('account/alerts', '', {'skip_mark_read':0}) }}">{{ phrase('sv_mark_all_alerts_read') }}</a></li>
</ul>
</li>