<xf:if is="$alert.view_date or $__globals.markedAlertsRead">
    <xf:js addon="SV/AlertImprovements" src="sv/alerts/alerts.js" min="1" />
    <a class="markAlertUnread" data-xf-click="mark-alert-unread" href="{{ link('account/unread-alert', '', {'alert_id':$alert.alert_id}) }}">
        <xf:comment>Lack of linebreaks necessary to avoid unnecessary space</xf:comment>
        <span class="unreadLink">{{ phrase('sv_mark_unread') }}</span></a>{{ $alert.is_summary ? ',' : '' }}
</xf:if>
<xf:if is="$alert.is_summary">
    <a class="unsummarizeAlert" href="{{ link('account/unsummarize-alert', '', {'alert_id':$alert.alert_id}) }}">
        <span class="unreadLink">
            {{phrase('sv_unsummarize_alert')}}
        </span>
    </a>
</xf:if>