<xf:set var="$reactions">
	<xf:macro template="sv_alertimprovements_macros" name="alert_reactions" arg-alert="{$alert}" />
</xf:set>

{{ phrase('your_post_in_the_thread_y_has_received_reactions_x', {
	'reactions': {$reactions}|raw,
	'unsummarizeAlertLinkAttributes': 'href="' . link('account/alert', false, {'alert_id': $alert.alert_id}) . '"',
	'title': '<a href="' . link('posts', $content) . '" class="fauxBlockLink-blockLink">' . prefix('thread', $content.Thread) . $content.Thread.title . '</a>'
}) }}