<xf:set var="$rating">
	<xf:macro template="sv_alertimprovements_macros" name="alert_rating_type" arg-alert="{$alert}" />
</xf:set>

{{ phrase('your_comment_in_the_report_y_has_been_rated_x', {
	'ratings': {$rating},
	'unsummarizeAlertLinkAttributes': 'href="' . link('account/alert', false, {'alert_id': $alert.alert_id}) . '" class="fauxBlockLink-blockLink"',
	'title': '<a href="' . link('reports/comment', $content, 'report_comment_id={$content.report_comment_id}') . '" class="fauxBlockLink-blockLink">' . {$content.title} . '</a>'
}) }}