<xf:set var="$rating">
	<xf:macro template="svAlertsImprov_macros" name="alert_rating_type" arg-alert="{$alert}" />
</xf:set>

<xf:if is="trim($rating)">
{{ phrase('your_post_in_the_thread_y_has_been_rated_x', {
	'ratings': {$rating},
	'unsummarizeAlertLinkAttributes': 'href="' . link('account/alert', false, {'alert_id': $alert.alert_id}) . '"',
	'title': '<a href="' . link('posts', $content) . '" class="fauxBlockLink-blockLink">' . prefix('thread', $content.Thread) . $content.Thread.title . '</a>'
}) }}
<xf:elseif is="$extra.likes" />
	<xf:include template="alert_post_like_summary" />
</xf:if>