<xf:set var="$rating">
	<xf:macro template="svAlertsImprov_macros" name="alert_rating_type" arg-alert="{$alert}" />
</xf:set>

<xf:if is="trim($rating)">
{{ phrase('your_comment_in_the_report_y_has_been_rated_x', {
	'ratings': {$rating},
	'unsummarizeAlertLinkAttributes': 'href="' . link('account/alert', false, {'alert_id': $alert.alert_id}) . '"',
	'title': '<a href="' . link('reports/comment', $content, {'report_comment_id':$content.report_comment_id}) . '" class="fauxBlockLink-blockLink">' . {$content.Report.title} . '</a>'
}) }}
<xf:elseif is="$extra.likes" />
	<xf:include template="alert_profile_post_like_summary" />
</xf:if>