<xf:set var="$reactions">
	<xf:macro template="svAlertsImprov_macros" name="alert_reactions" arg-alert="{$alert}" />
</xf:set>
<xf:set var="$contentSummary" value="{{ $alert.hasOption('svAlertImprov') ? $alert.getReactedContentSummary(' ') : '' }}" />

{{ phrase('sv_x_reacted_y_content_z_times', {
	'name': username_link($user, false, {'defaultname': $alert.username}),
	'unsummarizeAlertLinkAttributes': 'href="' . link('account/alert', $alert) . '" class="fauxBlockLink-blockLink"',
	'reactions': {$reactions}|raw,
	'reactedcontent': $contentSummary
}) }}