<xf:macro name="alert_rating_type" arg-alert="!">
	<xf:if is="is_addon_active('SV/ContentRatings') && is_addon_active('SV/AlertImprovements')">
	<xf:css src="sv_contentratings.less" />
	<xf:set var="$ratingTypes" value="{$alert.extra_data.reaction_id}" />

	<xf:foreach loop="$alert.sv_rating_types" key="$ratingTypeId" value="$ratingType">
		<div class="sv-rating-type sv-rating-type--inline sv-rating-type--icon-only">
			<div class="sv-rating-type__icon sv-alerts">
				<xf:if is="{$ratingType}">
					<xf:macro template="sv_contentratings_macros" name="rating_type_icon" arg-inline="1" arg-ratingType="{$ratingType}" />
				</xf:if>
			</div>

			<div class="sv-rating-type__text" style="white-space: pre-wrap;"> x {$ratingTypes.{$ratingTypeId}|number}</div>
		</div>
	</xf:foreach>
	</xf:if>
</xf:macro>

<xf:macro name="alert_user_type" arg-alert="!">
	<xf:set var="$extra" value="{$alert.extra_data}" />
	<xf:if is="is_addon_active('SV/AlertImprovements')">
		<xf:set var="$likeString" value="{{ $alert.getLikedContentSummary(' ') }}" />
	</xf:if>

	<xf:if is="!$likeString">
		<xf:set var="$likeString">{{ phrase('x_of_content', {'count':$extra.likes}) }}</xf:set>
	</xf:if>
	{{ $likeString }}
</xf:macro>

<xf:macro name="alert_reaction" arg-alert="!">
	<xf:set var="$reactions" value="{$alert.extra_data.reaction_id}" />

	<xf:foreach loop="$alert.sv_rating_types" key="$ratingTypeId" value="$ratingType">
		<div class="sv-rating-type sv-rating-type--inline sv-rating-type--icon-only">
			<div class="sv-rating-type__icon sv-alerts">
				<xf:if is="{$ratingType}">
					<xf:macro template="sv_contentratings_macros" name="rating_type_icon" arg-inline="1" arg-ratingType="{$ratingType}" />
				</xf:if>
			</div>

			<div class="sv-rating-type__text" style="white-space: pre-wrap;"> x {$ratingTypes.{$ratingTypeId}|number}</div>
		</div>
	</xf:foreach>
</xf:macro>

<xf:macro name="alert_reactions" arg-alert="!">
	<xf:css src="sv_alertimprovements_macros_alert_reactions.less" />
	<xf:set var="$reactions" value="{$alert.extra_data.reaction_id}" />

	<div class="sv-alert-improv-reactions--summary">
		<xf:foreach loop="$reactions" key="$reactionId" value="$reactCounter">
			<div class="sv-alert-improv-reactions--reactionContainer sv-alert-improv-reactions--reactionContainer-{$reactionId}">
				<div class="sv-alert-improv-reactions--icon">
					{{ alert_summary_reaction($reactionId)|preEscaped }}
				</div>

				<div class="sv-alert-improv-reactions--counter" style="white-space: pre-wrap;"> x {$reactCounter|number}</div>
			</div>
		</xf:foreach>
	</div>
</xf:macro>