<xf:macro name="alert_reactions" arg-alert="!">
	<xf:set var="$reactions" value="{$alert.extra_data.reaction_id}" />
	<xf:foreach loop="$reactions" key="$reactionId" value="$reactCounter">
		<span class="react-summary react-summary--{$reactionId}">
			<span class="react-summary--alert">{{ reaction({
						'id': $reactionId,
						'showtitle': false,
						'hasreaction': true,
						'tooltip': true,
						'small': true
					})|preescaped }}</span>
			<span class="react-summary--count">x {$reactCounter|number}</span>
		</span>
	</xf:foreach>
</xf:macro>

<xf:macro name="alerts_filter" 
		  arg-navParams="{{ [] }}"
		  arg-selected=""
		  >
	<div class="block-outer-main">
		<div class="buttonGroup alerts-filter"><xf:trim>
			<xf:button href="{{ link('account/alerts', null, $navParams|replace('show_only', 'all')|replace('page', '')) }}" class="{{ $selected === 'all' ? 'button--primary' : 'button--link' }}"><xf:trim>
				{{ phrase('all') }}
				</xf:trim></xf:button>
			<xf:button href="{{ link('account/alerts', null, $navParams|replace('show_only', 'unread')|replace('page', '')) }}" class="{{ $selected === 'unread' ? 'button--primary' : 'button--link' }}"><xf:trim>
				{{ phrase('svAlertImprov_unread') }}
				</xf:trim></xf:button>
		</xf:trim></div>
	</div>
</xf:macro>

<xf:macro name="alerts_controls">
	<xf:css src="svAlertImprovements.less" />
	<xf:js addon="SV/AlertImprovements" src="sv/alerts/alerts.js" min="1" />
	<xf:button href="{{ link('account/preferences') }}#alerts" class="button--link"><xf:trim>
		{{ phrase('svAlertImprov_alert_preferences') }}
	</xf:trim></xf:button>

	<xf:if is="$__globals.canResummarize">
		<xf:button href="{{ link('account/summarize-alerts') }}" class="button--link"><xf:trim>
			{{ phrase('svAlertImprov_resummarize_alerts') }}
		</xf:trim></xf:button>
	</xf:if>
</xf:macro>

<xf:macro name="alerts_popup_footer">
	<xf:css src="svAlertImprovements.less" />
	<xf:js addon="SV/AlertImprovements" src="sv/alerts/alerts.js" min="1" />
    <span class="menu-footer-main">
        <a href="{{ link('account/alerts', null, {'show_only':'all'}) }}">{{ phrase('show_all') }}</a>
    </span>
    <span class="menu-footer-opposite">
        <ul class="listInline listInline--bullet">
            <li><a href="{{ link('account/alerts/mark-read') }}" data-xf-click="sv-mark-alerts-read">{{ phrase('mark_read') }}</a></li>
            <li><a href="{{ link('account/preferences') }}#alerts">{{ phrase('preferences') }}</a></li>
        </ul>
    </span>
</xf:macro>

<xf:macro name="alerts_select" arg-page="{{1}}" arg-navParams="{{ {} }}">
	<div class="block-footer block-footer--split">
		<span class="block-footer-counter"></span>
		<span class="block-footer-select"><xf:checkbox standalone="true"><xf:option check-all="< .block-container" label="{{ phrase('select_all') }}" data-xf-init="tooltip" title="{{ phrase('select_all') }}" /></xf:checkbox></span>
		<span class="block-footer-controls">
			<xf:hiddenval name="show_only">{$navParams.show_only}</xf:hiddenval>
			<xf:hiddenval name="skip_mark_read">1</xf:hiddenval>
			<xf:hiddenval name="skip_summarize">1</xf:hiddenval>
			<xf:hiddenval name="page">{$page}}</xf:hiddenval>
			<xf:select name="state" class="input--inline">
				<xf:option>{{ phrase('with_selected...') }}</xf:option>
				<!--[XF:action_menu:top]-->
				<xf:option value="read">{{ phrase('svAlertImprov_mark_read') }}</xf:option>
				<xf:option value="unread">{{ phrase('svAlertImprov_mark_unread') }}</xf:option>
				<!--[XF:action_menu:bottom]-->
			</xf:select>
			<xf:button type="submit">{{ phrase('go') }}</xf:button>
		</span>
	</div>
</xf:macro>

<xf:macro name="alert_row"
		  arg-alert="!"
		  arg-showSelectCheckbox="{{ false }}"
		  arg-inAlertsPopup="{{ false }}"
		  >
	<div class="contentRow">
		<xf:if is="$showSelectCheckbox">
			<div class="contentRow-figure contentRow-figure--selector">
				<xf:checkbox standalone="true">
					<xf:option name="alert_ids[]" value="{$alert.alert_id}" data-xf-init="tooltip"
							   title="{{ phrase('svAlertImprov_select_for_bulk_update') }}" />
				</xf:checkbox>
			</div>
		</xf:if>
		<div class="contentRow-figure contentRow-figure--user{{ $showSelectCheckbox ? '' : ' flex'}}">
			<xf:avatar user="$alert.User" size="xxs" defaultname="{$alert.username}" />
			<xf:if is="$inAlertsPopup && $alert.is_new">
				<xf:if is="$alert.view_date === 0 and $alert.auto_read">
					<xf:fa icon="fa fa-star-exclamation"
						   class="unread-indicator-icon"
						   aria-hidden="true"
						   title="{{ phrase('svAlertImprov_unread_alert')|for_attr}}" />
				<xf:else />
					<xf:fa icon="fa fa-star"
						   class="unread-indicator-icon"
						   aria-hidden="true"
						   title="{{ phrase('svAlertImprov_recent_alert')|for_attr}}" />
				</xf:if>
			</xf:if>
		</div>
		<div class="contentRow-main contentRow-main--close">
			<xf:if is="$inAlertsPopup"><div class="fauxBlockLink"></xf:if>
			{$alert.render()|raw}
			<xf:if is="$inAlertsPopup"></div></xf:if>
			<div class="contentRow-minor contentRow-minor--smaller">
				<ul class="listInline listInline--bullet">
					<xf:if is="!$inAlertsPopup && $alert.is_new">
						<li>
							<xf:if is="$alert.view_date === 0 and $alert.auto_read">
								<xf:fa icon="fa fa-star-exclamation"
									   class="unread-indicator-icon"
									   aria-hidden="true"
									   title="{{ phrase('svAlertImprov_unread_alert')|for_attr}}" />
								<xf:else />
								<xf:fa icon="fa fa-star"
									   class="unread-indicator-icon"
									   aria-hidden="true"
									   title="{{ phrase('svAlertImprov_recent_alert')|for_attr}}" />
							</xf:if>
						</li>
					</xf:if>
					<li><xf:date time="$alert.event_date" /></li>
					<xf:if is="$alert.view_date">
						<li>{{ phrase('svAlertImprov_read_on:') }} <xf:date time="$alert.view_date" /></li>
					</xf:if>
					<xf:if is="$alert.is_summary && $alert.canUnsummarize()">
						<li><a class="alert--unsummarize" data-xf-click="unsummarize-alert" href="{{ link('account/alert/unsummarize', $alert) }}">{{phrase('svAlertImprov_unsummarize_alert')}}</a></li>
					</xf:if>
					<xf:if is="$alert.view_date">
						<li class="mark-read"><a class="alert--mark-unread" data-xf-click="mark-alert-unread" href="{{ link('account/alert/unread', $alert) }}">{{ phrase('svAlertImprov_mark_unread') }}</a></li>
					<xf:else />
						<li class="mark-read"><a class="alert--mark-read" data-xf-click="mark-alert-unread" href="{{ link('account/alert/read', $alert) }}">{{ phrase('svAlertImprov_mark_read') }}</a></li>
					</xf:if>
				</ul>
			</div>
		</div>
	</div>
</xf:macro>