<xf:if is="$unreadAlerts is not empty or $alerts is not empty">
	<div class="menu-scroller">
		<ol class="listPlain">
			<xf:foreach loop="$unreadAlerts" value="$alert">
				<li data-alert-id="{$alert.alert_id}" class="alert js-alert menu-row menu-row--separated menu-row--clickable{{ $alert.isUnreadInUi() ? ' is-unread' : ($alert.isRecentlyRead() ? ' is-recently-read' : ' is-read') }}">
					<div class="fauxBlockLink">
						<xf:macro template="svAlertImprov_macros"
								  name="alert_row"
								  arg-alert="{$alert}"
								  arg-showSelectCheckbox="{{ false }}"
								  arg-inAlertsPopup="{{ true }}"
								  />
					</div>
				</li>
			</xf:foreach>

			<xf:if is="$unreadAlerts is not empty and $alerts is not empty">
				<li class="menu-row menu-row--separated alert--read-unread-seperator"></li>
			</xf:if>

			<xf:foreach loop="$alerts" value="$alert">
				<li data-alert-id="{$alert.alert_id}" class="alert js-alert menu-row menu-row--separated menu-row--clickable{{ $alert.isUnreadInUi() ? ' is-unread' : ($alert.isRecentlyRead() ? ' is-recently-read' : ' is-read') }}">
					<div class="fauxBlockLink">
						<xf:macro template="svAlertImprov_macros"
								  name="alert_row"
								  arg-alert="{$alert}"
								  arg-showSelectCheckbox="{{ false }}"
								  arg-inAlertsPopup="{{ true }}"
								  />
					</div>
				</li>
			</xf:foreach>
		</ol>
	</div>
<xf:else />
	<div class="menu-row">{{ phrase('you_have_no_new_alerts') }}</div>
</xf:if>