<xf:js addon="SV/AlertImprovements" src="sv/alerts/alerts.js" min="1" />
<xf:title>{{ $alert.is_summary ? phrase('svAlertImprov_summarized_alerts') : phrase('alert') }}</xf:title>

<xf:breadcrumb href="{{ link('account/alerts') }}">{{ phrase('alerts') }}</xf:breadcrumb>

<xf:set var="$summaryAlert" value="{$alert}" />
<div class="block-container">
	<div class="block-body">
		<ol class="listPlain">
			<li data-alert-id="{$alert.alert_id}"
				class="alert js-alert block-row block-row--separated{{ $alert.isUnreadInUi() ? ' is-unread' : ($alert.isRecentlyRead() ? ' is-recently-read' : ' is-read') }}">
				<xf:macro template="svAlertImprov_macros" name="alert_row" arg-alert="{$alert}" />
			</li>
		</ol>
		<xf:if is="$summaryAlert.is_summary">
		<xf:if is="$alerts is not empty">
			<ol class="listPlain">
				<xf:if is="$groupedAlerts is not empty">
					<xf:foreach loop="$groupedAlerts" key="$dateGroup" value="$dateAlerts">
						<li>
							<h2 class="block-formSectionHeader">{$dateGroup}</h2>
							<ol class="listPlain">
								<xf:foreach loop="$dateAlerts" value="$alert">
									<li data-alert-id="{$alert.alert_id}"
										class="alert js-alert block-row block-row--separated{{ $alert.isUnreadInUi() ? ' is-unread' : ($alert.isRecentlyRead() ? ' is-recently-read' : ' is-read') }}">
										<xf:macro template="svAlertImprov_macros" name="alert_row" arg-alert="{$alert}" />
									</li>
								</xf:foreach>
							</ol>
						</li>
					</xf:foreach>
				<xf:else />
					<xf:foreach loop="$alerts" value="$alert">
						<li data-alert-id="{$alert.alert_id}"
							class="alert js-alert block-row block-row--separated{{ $alert.isUnviewed() ? ' is-unread' : ($alert.isRecentlyRead() ? '' : ' block-row--alt') }}">
							<xf:macro template="svAlertImprov_macros" name="alert_row" arg-alert="{$alert}" />
						</li>
					</xf:foreach>
				</xf:if>
			</ol>
		<xf:else />
			<div class="block-row">{{ phrase('no_alerts_can_be_shown') }}</div>		
		</xf:if>
		</xf:if>
	</div>
	<xf:if is="$summaryAlert.is_summary">
	<xf:pagenav params="{$navParams}" data="{$summaryAlert}" link="account/alert" page="{$page}" perpage="{$perPage}" total="{$totalAlerts}" wrapperclass="block-outer block-outer--after" />
	</xf:if>
</div>