<xf:macro name="alert_rating_type" arg-alert="!">
	<xf:if is="is_addon_active('SV/ContentRatings') && is_addon_active('SV/AlertImprovements')">
	<xf:css src="sv_contentratings.less" />
	<xf:set var="$ratingTypes" value="{$alert.extra_data.reaction_id}" />

	<xf:foreach loop="$alert.sv_rating_types" key="$ratingTypeId" value="$ratingType">
		<div class="sv-rating-type sv-rating-type--inline sv-rating-type--icon-only">
			<div class="sv-rating-type__icon sv-alerts">
				<xf:if is="{$ratingType}">
					<xf:macro template="sv_contentratings_macros" name="rating_type_icon" arg-inline="1" arg-ratingType="{$ratingType}" />
				</xf:if>
			</div>

			<div class="sv-rating-type__text" style="white-space: pre-wrap;"> x {$ratingTypes.{$ratingTypeId}|number}</div>
		</div>
	</xf:foreach>
	</xf:if>
</xf:macro>

<xf:macro name="alert_user_type" arg-alert="!">
	<xf:set var="$extra" value="{$alert.extra_data}" />
	<xf:if is="is_addon_active('SV/AlertImprovements')">
		<xf:set var="$likeString" value="{{ $alert.getLikedContentSummary(' ') }}" />
	</xf:if>

	<xf:if is="!$likeString && $extra.likes">
		<xf:set var="$likeString">{{ phrase('x_of_content', {'count':$extra.likes}) }}</xf:set>
	</xf:if>
	{{ $likeString }}
</xf:macro>

<xf:macro name="alert_reaction" arg-alert="!">
	<xf:set var="$reactions" value="{$alert.extra_data.reaction_id}" />

	<xf:foreach loop="$alert.sv_rating_types" key="$ratingTypeId" value="$ratingType">
		<div class="sv-rating-type sv-rating-type--inline sv-rating-type--icon-only">
			<div class="sv-rating-type__icon sv-alerts">
				<xf:if is="{$ratingType}">
					<xf:macro template="sv_contentratings_macros" name="rating_type_icon" arg-inline="1" arg-ratingType="{$ratingType}" />
				</xf:if>
			</div>

			<div class="sv-rating-type__text" style="white-space: pre-wrap;"> x {$ratingTypes.{$ratingTypeId}|number}</div>
		</div>
	</xf:foreach>
</xf:macro>

<xf:macro name="alert_reactions" arg-alert="!">
	<xf:css src="svAlertsImprov_macros_alert_reactions.less" />
	<xf:set var="$reactions" value="{$alert.extra_data.reaction_id}" />

	<div class="sv-alert-improv-reactions--summary">
		<xf:foreach loop="$reactions" key="$reactionId" value="$reactCounter">
			<div class="sv-alert-improv-reactions--reactionContainer sv-alert-improv-reactions--reactionContainer-{$reactionId}">
				<div class="sv-alert-improv-reactions--icon">
					{{ alert_summary_reaction($reactionId)|preEscaped }}
				</div>

				<div class="sv-alert-improv-reactions--counter" style="white-space: pre-wrap;"> x {$reactCounter|number}</div>
			</div>
		</xf:foreach>
	</div>
</xf:macro>

<xf:macro name="alerts_filter" 
		  arg-selected=""
		  >
	<div class="block-outer-main">
		<div class="buttonGroup"><xf:trim>
			<xf:button href="{{ link('account/alerts') }}" class="button--link"><xf:trim>
				{{ phrase('all') }}
				</xf:trim></xf:button>
			<xf:button href="{{ link('account/alerts', null, {'show_only': 'unread'}) }}" class="button--link"><xf:trim>
				{{ phrase('svAlertImprov_unread') }}
				</xf:trim></xf:button>
		</xf:trim></div>
	</div>
</xf:macro>

<xf:macro name="alerts_controls">
	<xf:button href="{{ link('account/preferences') }}#alerts" class="button--link" overlay="true"><xf:trim>
		{{ phrase('sv_alert_preferences') }}
	</xf:trim></xf:button>

	<xf:if is="$xf.options.sv_alerts_summerize">
		<xf:button href="{{ link('account/summarize-alerts') }}" class="button--link"><xf:trim>
			{{ phrase('sv_resummarize_alerts') }}
		</xf:trim></xf:button>
	</xf:if>
</xf:macro>

<xf:macro name="alert_row" arg-alert="!">
	<div class="contentRow user-alert">
		<div class="contentRow-figure">
			<xf:if is="!$__globals.svAlertImprove_avoidApplyAlertListChanges">
				<xf:checkbox standalone="true">
					<xf:option name="alert_ids[]" value="{$alert.alert_id}" class="js-inlineModToggle"
							   data-xf-init="tooltip"
							   title="{{ phrase('svAlertImprov_select_for_bulk_update') }}" />
				</xf:checkbox>
			</xf:if>
			<xf:avatar user="$alert.User" size="xxs" defaultname="{$alert.username}" />
		</div>
		<div class="contentRow-main contentRow-main--close">
			{$alert.render()|raw}
			<div class="contentRow-minor contentRow-minor--smaller">
				<xf:if is="!$__globals.svAlertImprove_avoidApplyAlertListChanges">
					<ul class="listInline listInline--bullet">
						<xf:if is="$alert.is_new">
							<li><xf:fa icon="fa fa-star" class="unread-alert" aria-hidden="true" title="{{ phrase('sv_unread_alert')|for_attr}}" /></li>
						</xf:if>
						<li><xf:date time="$alert.event_date" /></li>
						<xf:if is="$alert.read_date">
							<li>{{ phrase('svAlertImprov_read_on:') }} <xf:date time="$alert.read_date" /></li>
						</xf:if>
						<xf:if is="$alert.is_summary">
							<li><a class="unsummarizeAlert" href="{{ link('account/unsummarize-alert', '', {'alert_id':$alert.alert_id}) }}">
								<span class="user-alert--unreadLink">
									{{phrase('sv_unsummarize_alert')}}
								</span>
								</a></li>
						</xf:if>
						<xf:set var="$svAlertImprovOtherItemsTpl"><xf:trim>


							</xf:trim></xf:set>
						<xf:if is="$svAlertImprovOtherItemsTpl is not empty">
							<li>
							</li>
						</xf:if>
					</ul>
				<xf:else />
					<xf:date time="$alert.event_date" />
				</xf:if></div>
		</div>
	</div>
</xf:macro>