<xf:title>{{ phrase('svAlertImprov_mark_all_alerts_read') }}</xf:title>

<xf:wrap template="account_wrapper" />

<xf:form action="{{ link('account/alerts/mark-read') }}" ajax="true" class="block">
	<div class="block-container">
		<div class="block-body">
			<xf:inforow rowtype="confirm">
				{{ phrase('svAlertImprov_please_confirm_that_you_want_to_mark_all_alerts_read') }}
			</xf:inforow>
		</div>

		<xf:submitrow submit="{{ phrase('mark_read') }}" rowtype="simple" />
	</div>

	<xf:foreach loop="$listAlertIds" value="$alertId">
		<xf:hiddenval name="list_alert_ids[]" value="{$alertId}" />
	</xf:foreach>
	<xf:foreach loop="$popupAlertIds" value="$alertId">
		<xf:hiddenval name="popup_alert_ids[]" value="{$alertId}" />
	</xf:foreach>

	<xf:hiddenval name="confirm" value="1" />
	<xf:redirect url="{$redirect}" />
</xf:form>