<h2 class="block-formSectionHeader" id="alerts"><span class="block-formSectionHeader-aligner">{{ phrase('svAlertImprov_alerts_page_and_summary') }}</span></h2>
<div class="block-body">
	<xf:if is="$xf.options.svAlertsSummarize">
		<xf:checkboxrow label="{{ phrase('svAlertImprov_alerts_page_options') }}">
			<xf:option name="option[sv_alerts_page_skips_summarize]"
					   label="{{ phrase('sv_alerts_page_skips_summarize') }}"
					   hint="{{ phrase('sv_alerts_page_skips_summarize_hint') }}"
					   checked="{$xf.visitor.Option.sv_alerts_page_skips_summarize}"
					   />
		</xf:checkboxrow>
	</xf:if>
	<xf:radiorow name="option[sv_alerts_popup_read_behavior]"
                 label="{{ phrase('svAlertImprov_alert_popup_options') }}"
				 value="{{ $xf.visitor.Option.sv_alerts_popup_read_behavior }}">
		<xf:options source="{{ $xf.app.em.getRepository('SV\AlertImprovements:AlertPreferences').getAlertPopupBehaviourPairs() }}" />
	</xf:radiorow>
	<xf:if is="$xf.options.svAlertsSummarize">
		
	<xf:numberboxrow name="option[sv_alerts_summarize_threshold]"
					 value="{{$xf.visitor.Option.sv_alerts_summarize_threshold}}" 
					 min="0" data-step="1"
					 label="{{ phrase('sv_alerts_summarize_threshold') }}"
					 explain="{{ phrase('sv_alerts_summarize_threshold_hint') }}" />
	</xf:if>
</div>