<xf:if is="$unreadAlerts is not empty or $alerts is not empty">
	<div class="menu-scroller">
		<ol class="listPlain">
			<xf:foreach loop="$unreadAlerts" value="$alert">
				<li class="menu-row menu-row--separated menu-row--clickable {{ $alert.isUnviewed() ? 'menu-row--highlighted' : ($alert.isRecentlyViewed() ? '' : 'menu-row--alt') }}">
					<div class="fauxBlockLink">
						<xf:macro template="alert_macros" name="row" arg-alert="{$alert}" />
					</div>
				</li>
			</xf:foreach>
			<xf:foreach loop="$alerts" value="$alert">
				<li class="menu-row menu-row--separated menu-row--clickable {{ $alert.isUnviewed() ? 'menu-row--highlighted' : ($alert.isRecentlyViewed() ? '' : 'menu-row--alt') }}">
					<div class="fauxBlockLink">
						<xf:macro template="alert_macros" name="row" arg-alert="{$alert}" />
					</div>
				</li>
			</xf:foreach>
		</ol>
	</div>
<xf:else />
	<div class="menu-row">{{ phrase('you_have_no_new_alerts') }}</div>
</xf:if>