<xf:checkboxrow label="{{ phrase('svAlertImprov_alerts_page_options') }}">
    <xf:option name="{$inputName}[sv_alerts_page_skips_summarize]"
               label="{{ phrase('sv_alerts_page_skips_summarize') }}"
               checked="{{$option.option_value.sv_alerts_page_skips_summarize}}" />
</xf:checkboxrow>
<xf:radiorow name="{$inputName}[sv_alerts_popup_read_behavior]"
             label="{{ phrase('svAlertImprov_alert_popup_options') }}"
             value="{{ $option.option_value.sv_alerts_popup_read_behavior }}">
    <xf:options source="{{ $xf.app.em.getRepository('SV\AlertImprovements:AlertPreferences').getAlertPopupBehaviourPairs() }}" />
</xf:radiorow>

<xf:textboxrow name="{$inputName}[sv_alerts_summarize_threshold]" value="{{$option.option_value.sv_alerts_summarize_threshold}}" 
			   type="number"
			   readonly="{{ $xf.options.svAlertsSummarize ? '': true}}"
			   label="{{ phrase('sv_alerts_summarize_threshold') }}"/>