<xf:checkboxrow>
	<xf:option name="option[sv_alerts_popup_skips_mark_read]" checked="{{$user.Option.sv_alerts_popup_skips_mark_read}}">{{ phrase('sv_alerts_popup_skips_mark_read') }}</xf:option>
	<xf:option name="option[sv_alerts_page_skips_mark_read]" checked="{{$user.Option.sv_alerts_page_skips_mark_read}}">{{ phrase('sv_alerts_page_skips_mark_read') }}</xf:option>
	<xf:option name="option[sv_alerts_page_skips_summarize]" checked="{{$user.Option.sv_alerts_page_skips_summarize}}">{{ phrase('sv_alerts_page_skips_summarize') }}</xf:option>
</xf:checkboxrow>
<xf:textboxrow name="option[sv_alerts_summarize_threshold]" value="{{$user.Option.sv_alerts_summarize_threshold}}" 
			   type="number"
			   readonly="{{ $xf.options.svAlertsSummarize ? '': true}}"
			   label="{{ phrase('sv_alerts_summarize_threshold') }}"/>